/* Google Web Font Include */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

/* variables */
$dark-grey: #333232;
$font-color: #333;
$dark-blue: #383737;
$med-blue: #0A9BDE;
$light-blue: #2e71aa;
$body-bg: #ffffff;
//$salmon: #e66d4c;
$salmon: #FF71E0; /* Salmon is so 2015, lets to fucking PINK */




$small-screen: 320px;
$medium-screen: 768px;
$large-screen: 960px;

$font-family-main: 'Roboto Slab', serif;


/* Off canvas variables */
//$off-canvas-height: rem-calc(300);


// Off Canvas Back-Link Overlay
/*
$off-canvas-overlay-transition: background 300ms ease !default;
$off-canvas-overlay-cursor: pointer !default;



*/


$off-canvas-overlay-box-shadow: none;
$off-canvas-overlay-background: none;
$off-canvas-overlay-background-hover: none;
$off-canvas-bg: $med-blue;
$off-canvas-bg-hover: $dark-grey;
$off-canvas-bg-active: $dark-grey;

/* mixins */

@mixin breakpoint($point) {
	@if $point == large{
		@media (min-width: $large-screen) { @content; }
	}
	@else if $point == medium {
		@media (min-width: $medium-screen) { @content; }
	}
	@else if $point == small {
		@media (min-width: $small-screen)  { @content; }
	}
	@else if $point == xsmall {
		@media (max-width: $small-screen - 1)  { @content; }
	}
	@else if $point{
		@media  (min-width: $point)  { @content; }
	}
}

@mixin gradients-are-rad {
	background: linear-gradient(-137deg, #0A9BDE 0%, #FF71E0 84%);
	background-size: 200% 200%;
	
	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
	
	@-webkit-keyframes AnimationName {
	    0%{background-position:0% 97%}
	    50%{background-position:100% 4%}
	    100%{background-position:0% 97%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:0% 97%}
	    50%{background-position:100% 4%}
	    100%{background-position:0% 97%}
	}
	@keyframes AnimationName { 
	    0%{background-position:0% 97%}
	    50%{background-position:100% 4%}
	    100%{background-position:0% 97%}
	}	
	
}

@mixin transitions-all {
		@include transition-property(all);
		@include transition-duration(250ms);
		@include transition-timing-function(ease-in linear);
}